<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>server app</title>
</head>
<body>
	<ul>
		<li><a href="http://<%= CLIENT_HOST %>:<%= CLIENT_PORT %>" target="_blank">CLIENT APP</a></li>
		<li><a href="/<%= GRAPHIQL_ENDPOINT %>">GRAPHIQL_ENDPOINT</a></li>
		<li><a href="/<%= GRAPHQL_ENDPOINT %>">GRAPHQL_ENDPOINT</a></li>
	</ul>
	
</body>
</html>